<!--View Information-->
<!--View name : About-->
<!--State name : app.about-->
<!--URL : #app/about-->

<ion-modal-view>
    <ion-header-bar class="bar-balanced  material-background-nav-bar">
    	<h1 class="title">Acerca de</h1>
    	<div class="buttons">
	        <a class="button icon-right ion-ios-close-empty button-clear" ng-click="closeModalAbout()">Cerrar&nbsp;</a>
		</div>
    </ion-header-bar>
    <ion-content class="md-padding about">
    	<div flex layout="column">
    		<md-card class="vexiza-card">
		        <img src="img/logo-vexiza.png" class="md-card-image" alt="VEXIZA">
		        <md-card-title>
		        	<md-card-title-text>
		            	<span class="md-headline titulo">VEXIZA</span>
		        	</md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		        	<p>
			            VEXIZA S.L. Mapping &amp; coding
		        	</p>
		        </md-card-content>
		    </md-card>
    		<md-card class="mygeos-card">
		        <img src="img/logo_ec-jrc_standard_positive_rgb.jpg" class="md-card-image" alt="MyGEOSS">
		        <md-card-title>
		        	<md-card-title-text>
		            	<span class="md-headline">MyGEOSS</span>
		        	</md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		        	<p>
			            Acknowledgement: This application has been developed within the MyGEOSS project, which has received funding from the European Union’s Horizon 2020 research and innovation programme. The JRC, or as the case may be the European Comission, shall not be held liable for any direct or indirect, incidental, consequential or other damages, including but not limited to the loss of data, loss of profits, or any other financial loss arising from the use of this application, or inability to use it, even if the JRC is notified of the possibility of such damages.
		        	</p>
		        </md-card-content>
		    </md-card>
    		<md-card class="itacyl-card">
		        <img src="img/itacyl.jpg" class="md-card-image" alt="MyGEOSS">
		        <md-card-title>
		        	<md-card-title-text>
		            	<span class="md-headline">ITACyL</span>
		        	</md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		        	<p>
			            ©Instituto Tecnológico Agrario de Castilla y León. Como autor de los datos agrometeorológicos.
		        	</p>
		        </md-card-content>
		    </md-card>
    		<md-card class="aemet-card">
		        <img src="img/logo_AEMET_web.gif" class="md-card-image" alt="AEMET">
		        <md-card-title>
		        	<md-card-title-text>
		            	<span class="md-headline">AEMET</span>
		        	</md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		        	<p>
			            © AEMET. Como autora de los datos de predicción meteorológica.
		        	</p>
		        </md-card-content>
		    </md-card>
    	</div>
    </ion-content>
  </ion-modal-view>
